/*Styling to the body*/
body {
    color:aquamarine;
    padding: 24px;
    position: relative;
    animation-delay: var(position);
    margin: auto;
}
/*header changes*/
header {
    font-family: fantasy;
    color: blue;
    border: chartreuse;
}

/*Class text change*/
.name1 {
    text-transform: uppercase;
}
